.icon-row {
  display: flex;
  flex-wrap: wrap;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0.8;
  transition: color 0.3s ease-in-out;
}
.icon-row__icon:hover {
  cursor: pointer;
  color: black;
}
.icon-row__icon i {
  font-size: 30px;
  margin-bottom: 20px;
}
.icon-row span {
  text-align: center;
}
